{% extends "base.html" %}

{% block title %}7 класс{% endblock %}

<style>
</style>
{% block content %}
    <h1 class="text-center my-4" style="color: #4f76ff; font-weight: 700">Равнодействующая сила</h1>
    <div class="container mb-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}

                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container py-5 px-5" style="background: rgba(150,70,241,0.54); border-radius: 10px">
            <div id="content" style="height: 300px; border-radius: 10px"></div>
            <div id="controls">
                <div class="input-group mt-3">
                    <span class="input-group-text" id="basic-addon1">Гравитация</span>
                    <input type="number" class="form-control" id="gravity" placeholder="0" aria-label="Username"
                           aria-describedby="basic-addon1" value="0.3" step="0.1" oninput="setGravity()">
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text" id="basic-addon1">Скорость</span>
                    <input type="number" class="form-control" id="horizontalSpeed" placeholder="0" aria-label="Username"
                           aria-describedby="basic-addon1" value="0">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="formula">
                        <h2 class="text-light mt-4">Формула сил направленных в одну сторону: <span class="badge fs-1"
                                                                   style="background: rgba(172,100,255,0.54)">
                            \( R = F_{1} + F_{2} \)</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="formula">
                        <h2 class="text-light mt-4">Формула сил направленных в противоположные стороны: <span class="badge fs-1"
                                                                   style="background: rgba(172,100,255,0.54)">
                            \( R = F_{1} - F_{2} \)</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item active text-light fs-3" style="background: rgba(172,100,255,0.54); border-color: whitesmoke" aria-current="true">Переменные</li>
                    <li class="list-group-item bg-transparent text-light fs-4">\( R \) - Это векторная сумма всех сил, приложенных к объекту. Она определяет общее направление и величину ускорения объекта. Если равнодействующая сила не равна нулю, объект будет ускоряться в направлении этой силы</li>
                    <li class="list-group-item bg-transparent text-light fs-4">\( F \) - Это одна из множества сил, которые могут действовать на объект. Примером может быть сила тяжести, тянущая объект вниз.</li>
                </ul>
            </div>
        </div>


    </div>

    <script>
        let ball;
        let horizontalSpeedInput, gravityInput;
        let currentGravity = 0.3;

        function setGravity(){
            currentGravity = parseFloat(gravityInput.value);
        }

        function setup() {
            let content = document.getElementById('content');
            let canvas = createCanvas(content.offsetWidth, content.offsetHeight);
            canvas.parent(content);
            canvas.style('border-radius', '10px');

            horizontalSpeedInput = document.getElementById('horizontalSpeed');
            gravityInput = document.getElementById('gravity');
            currentGravity = parseFloat(gravityInput.value);


            let initialHorizontalSpeed = parseFloat(horizontalSpeedInput.value);
            let initialGravity = parseFloat(gravityInput.value);
            ball = new Ball(width / 2, 50, initialHorizontalSpeed, initialGravity);
        }

        function draw() {
            background(164, 84, 255); // Красный цвет

            let currentHorizontalSpeed = parseFloat(horizontalSpeedInput.value);
            ball.setHorizontalSpeed(currentHorizontalSpeed);
            ball.setGravity(currentGravity);

            ball.applyForce(createVector(0, currentGravity * ball.mass));
            ball.update();
            ball.display();

            // Display forces
            drawForceVectors(ball);
        }

        function drawForceVectors(ball) {
            stroke(255, 0, 0);
            strokeWeight(2);
            // Draw gravity force vector
            line(ball.position.x, ball.position.y, ball.position.x, ball.position.y + ball.gravity * 10);

            stroke(0, 0, 255);
            // Draw horizontal force vector
            line(ball.position.x, ball.position.y, ball.position.x + ball.velocity.x * 10, ball.position.y);

            stroke(0, 255, 0);
            // Draw resultant force vector
            let resultantForce = p5.Vector.add(createVector(ball.velocity.x, ball.gravity), createVector(0, currentGravity * ball.mass));
            line(ball.position.x, ball.position.y, ball.position.x + resultantForce.x * 10, ball.position.y + resultantForce.y * 10);
        }

        class Ball {
            constructor(x, y, horizontalSpeed, gravity) {
                this.position = createVector(x, y);
                this.velocity = createVector(horizontalSpeed, 0);
                this.acceleration = createVector(0, 0);
                this.mass = 1;
                this.horizontalSpeed = horizontalSpeed;
                this.gravity = gravity;
            }

            setHorizontalSpeed(speed) {
                this.horizontalSpeed = speed;
                this.velocity.x = speed;
            }

            setGravity(gravity) {
                this.gravity = gravity;
            }

            applyForce(force) {
                let f = p5.Vector.div(force, this.mass);
                this.acceleration.add(f);
            }

            update() {
                this.velocity.add(this.acceleration);
                this.position.add(this.velocity);
                this.acceleration.mult(0);

                // Проверка, если мяч вышел за нижний край холста
                if (this.position.y > height || this.position.y < 0) {
                    this.position.y = 50;  // Возвращаем мяч в исходное положение по Y
                    this.velocity.y = 0;  // Сбрасываем скорость
                }

                // Проверка, если мяч вышел за правый край холста
                if (this.position.x > width) {
                    this.position.x = 0;  // Возвращаем мяч на левую сторону
                }

                if (this.position.x < 0) {
                    this.position.x = width;
                }
            }

            display() {
                stroke(250);
                strokeWeight(2);
                fill(0, 0, 0, 0);
                ellipse(this.position.x, this.position.y, 48, 48);
            }
        }
    </script>

{% endblock %}
