.html-load {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    background: #20003a;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav-btn{
    border: 3px dashed whitesmoke;
    background: #42007e;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 10px;
    padding: 0 10px;
    transition: .5s;
}

.nav-btn:hover{
    transition: 0.5s;
    background: whitesmoke;
    color: #42007e;
}