{% extends "base.html" %}

{% block title %}7 класс{% endblock %}
{% block content %}
    <h1 class="text-center my-4" style="color: #4f76ff; font-weight: 700">7 класс</h1>
    <div class="container mb-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}

                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container py-5 px-5" style="background: rgba(150,70,241,0.54); border-radius: 10px">
            <a href="7-class?theme=1">
            <div class="row">
                <div class="list col-12 text-center py-3 fs-3">
                Скорость при равномерном движении
            </div>
            </div>
                </a>

        </div>

    </div>

{% endblock %}
