{% extends "base.html" %}

{% block title %}9 класс{% endblock %}
{% block content %}
    <h1 class="text-center my-4" style="color: #4f76ff; font-weight: 700">9 класс</h1>
    <div class="container mb-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}

                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container py-5 px-5" style="background: rgba(150,70,241,0.54); border-radius: 10px">
            <div class="row mt-3">
                <div class="col-12">
                    <a href="9-class?theme=1">
                        <div class="row">
                            <div class="list col-12 text-center py-3 fs-3">
                                Проекция вектора перемещения
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="9-class?theme=2">
                        <div class="row">
                            <div class="list col-12 text-center py-3 fs-3">
                                Зависимость времени от координаты (равномерное движение)
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="9-class?theme=3">
                        <div class="row">
                            <div class="list col-12 text-center py-3 fs-3">
                                Скорость при равномерном движении
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
