{% extends "base.html" %}

{% block title %}9 класс{% endblock %}
{% block content %}
    <h1 class="text-center my-4" style="color: #4f76ff; font-weight: 700">9 класс</h1>
    <div class="container mb-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}

                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container py-5 px-5" style="background: rgba(150,70,241,0.54); border-radius: 10px">
            <div class="row mt-3">
                <div class="col-12">
                    <a href="9-class?theme=1">
                        <div class="row">
                            <div class="list col-12 text-center py-3 fs-3">
                                Проекция вектора перемещения
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="8-class?theme=2">
                        <div class="row">
                            <div class="list col-12 text-center py-3 fs-3">
                                Количество теплоты при сгорании тела
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="8-class?theme=3">
                        <div class="row">
                            <div class="list col-12 text-center py-3 fs-3">
                                Проекция вектора перемещения
                            </div>
                        </div>
                    </a>
                </div>
            </div>
             <div class="row mt-3">
                <div class="col-12">
                    <a href="8-class?theme=4">
                        <div class="row">
                            <div class="list col-12 text-center py-3 fs-3">
                                КПД теплового двигателя (%)
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="8-class?theme=5">
                        <div class="row">
                            <div class="list col-12 text-center py-3 fs-3">
                                Сила тока
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="8-class?theme=6">
                        <div class="row">
                            <div class="list col-12 text-center py-3 fs-3">
                                Электрическое напряжение
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="8-class?theme=7">
                        <div class="row">
                            <div class="list col-12 text-center py-3 fs-3">
                                Закон для участков цепи (Закон Ома)
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="8-class?theme=8">
                        <div class="row">
                            <div class="list col-12 text-center py-3 fs-3">
                                Мощность электрического тока
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="8-class?theme=9">
                        <div class="row">
                            <div class="list col-12 text-center py-3 fs-3">
                                Закон Джоуля – Ленца
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="8-class?theme=10">
                        <div class="row">
                            <div class="list col-12 text-center py-3 fs-3">
                                Электроёмкость
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="8-class?theme=11">
                        <div class="row">
                            <div class="list col-12 text-center py-3 fs-3">
                                Закон преломления света
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
