{% extends "base.html" %}

{% block title %}Учителя{% endblock %}

{% block content %}
<h1 class="text-center my-4" style="color: #4f76ff; font-weight: 700">Рабочие</h1>
{% if current_user.is_authenticated %}
{% if current_user.has_role('admin') %}
<div class="row justify-content-center">
    <button type="button" class="btn btn-success" style="width: 45px; height: 45px;"
            onclick="location.href='/workers/new/?url=/workers/'">
        <i class="bi bi-plus-lg"></i></button>
</div>
{% endif %}
{% endif %}
<div class="container mb-4" style="border-radius: 10px; background: #8293cb; border: 3px solid #8783c0;
box-shadow: 0 0 10px rgba(0,0,0,0.55)">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% for i in workers %}
    <a href="{{ url_for('info', id=i.id, type='Workers') }}" style="text-decoration: none">
        <div class="container mt-5 ">
            <div class="profile-card row cont-card" style="padding: 0; margin: 0; background: #c8d4ee">
                <div class="col-lg-4 col-md-12 " style=" margin: 0; padding: 0">
                    <img src="{{ i.img }}" class="profile-photo">
                </div>
                <div class="col-lg-7 col-md-12 ms-1" style=" margin: 0; padding: 0">
                    <div class="profile-info">
                        <p style="color: #8883bd; font-weight: 600">ФИО: {{ i.firstName}} {{ i.lastName}} {{
                            i.midleName}}</p>
                        <p style="color: #8883bd; font-weight: 600">Email: {{ i.email}}</p>
                        <p style="color: #8883bd; font-weight: 600">Телефон: {{ i.phone}}</p>
                        {% if current_user.is_authenticated %}
                        {% if current_user.has_role('admin') %}
                        <p style="color: #8883bd; font-weight: 600">Адрес: {{ i.address}}</p>
                        {% endif %}
                        {% endif %}
                        <p style="color: #8883bd; font-weight: 600">Примечание: {{ i.info }}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% if current_user.is_authenticated %}
    {% if current_user.has_role('admin') %}
    <div class="row">
        <div class="col-3">
            <a href="/workers/edit/?id={{i.id}}&url=/workers/">
                <button type="button" class="btn btn-warning">
                    Редактировать
                </button>
            </a>
        </div>
    </div>
    {% endif %}
    {% endif %}

    {% endfor %}
</div>
{% endblock %}
